.Header {
    display: flex;
    padding: 55px 0;
}

.Header > h1 {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
    margin: 0;
}

.Header > a {
    position: absolute;
    top: 48px;
    right: 30px; 
    background-color: black;
    color:white;
    border-radius: 5px;
    padding: 5px;
}

.Header > img {
    position:absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
}
