.List {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap:10px;
}

.tool-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid #ddd;
  padding: 10px;
  border-radius: 8px;
}

.button {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.explane {
  display: flex;
  gap: 20px;
  font-size: 18px;
}